@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-white;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #2B1970;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF8900;
}
